.ad-tag-part {
    background-color: var(--sr2);
    color: white;
    border-radius: 8px;
    border: none;
    margin-right: 6px;
    margin-bottom: 6px;
}

.ad-tags-section {
    padding: 5px;
    background-color: var(--sr3);
    border: none;
    border-radius: 5px;
    height: 35px;
}

.selector-reader {
    background-color : var(--sr3);
    border : none; 
    padding : 5px;
    width: 140px;
}