
.adPreview{
    transition: background-color 0.2s;
    color: black;
    width: 30.5em;
    padding-bottom: 5px;
    background-color: aliceblue;
    border-radius: 0.75em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adPreview:hover{
    transition: background-color 0.2s;
    background-color: #3c7bf0;
    color: white;
}

.adSold{
    background-color: lavender;
    /*text-decoration: line-through;*/
}

.adSoldText{
    color: red;
}

.adPreview img {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover; /* le morceau important */
    object-position: 50% 50%; /* pour mieux aligner l'image */
    border-bottom: thick double;
    border-color: black;
}

.adPreviewText{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
    margin: 2px 4px;
}

.adPreviewAlign{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.adShapeIcon{
    position: relative;
    width: 2rem;
    bottom: 1px;
    right: 1px;
}