.user-profil {
    width: 14%;
    height: fit-content;
    border-radius: 50px;
    background-color: var(--sr2);
    color: var(--dark-mode-text);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 10px 15px 10px 15px;
    float: right;
    margin-right: 30px;
    text-align: center;
}

.user-profil-username {
    color: var(--dark-mode-text);
    text-decoration: none;
    margin-left: 10px;
}

.user-profil-username:hover {
    text-decoration: underline;
}

.first-image-of-list {
    width: 700px;
    height: 500px;
}

.image-div {
    max-width: 1000px;
}

.image-div img {
    width: 100%;
}

.ad-view-title-section {
    display: flex;
    align-items: center;
}

.ad-view-flex-desc-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ad-view-description {
    font-size: 22px;
    max-width: 900px;
}

.ad-view-background {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--sr1);
    max-width: 1500px;
    color: var(--dark-mode-text);
}

.ad-view-position {
    display: flex;
    justify-content: center;
    justify-items: auto;
    align-items: center;
    height: 100vh;
}