.user-profil {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.user-profil-username {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.user-profil-username:hover {
    text-decoration: underline;
}

.first-image-of-list {
    width: 500px;
    height: 350px;
}