.catalog-div {
    display: flex;
    margin: 2em auto auto auto;
}

#searchResult{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.25em 1.75em;
    border-radius: 27px;
    height: 90vh;
    padding: 30px;
    margin-right: 10px;
    overflow-y: scroll;
}

.catalog-div-bg{
    background-color: rgba(252, 251, 250, 0.39);
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border: #FCFBFA solid 2px;
}

.searchEmpty{
    position: fixed;
    font-size: small;
    text-align: center;
    margin: 2em auto;
}

.div-filters {
    width: 8.5cm;
    height: fit-content;
    padding-bottom: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    margin: 0 1.5em;
}

.catTop>h2 {
    text-align: left;
    margin-left: 8%;
}

#errorTitle{
    font-size: large;
    font-weight: bold;
}