#searchResult{
    display: flex;
    flex-wrap: wrap;
    margin: 5em auto 2em auto;
    gap: 2em 1.5em;
    width: 95%;
    justify-content: center;
}

.catTop {
    margin: auto;
    text-align: center;
    width: 100%;
}

.catTop>h2 {
    text-align: left;
    margin-left: 8%;
}

.searchEmpty{
    font-size: small;
    text-align: center;
    margin: 1em auto;
}

#errorTitle{
    font-size: large;
    font-weight: bold;
}