.modificationContainer{
    width: 100%;
    padding-bottom: 4vh;
}

.modificationPage{
    width: 80%;
    min-width: 20vh;
    margin: 2vh auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    min-height: 1000px;
}

.modificationSection{
    margin: 0.5vh 1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modificationLabel{
    font-weight: 700;
    font-size: large;
}

.modificationInput {
    transition: border 0.15s;
    width: 100%;
    height: 2.5em;
    margin: 0 0.75vh;
    margin-right: 2vh;
    padding: 0.3vh 2vh;
    padding-right: 4vh;
    background-color: #D9D9D9;
    font-size: medium;

    border-radius: 20px;
    border: var(--inputborder) solid 3px;
    border-bottom: var(--inputborder) solid 3px;
}

.modificationInput:focus {
    transition: border 0.15s;
    outline: none;
    border: var(--inputborder) solid 2px;
    border-top: var(--inputborder) solid 1px;
    border-bottom: var(--inputborder) double 5px;
}

.modificationTextArea{
    height: 18vh;
    padding-top: 0.75em;
    padding-bottom: 1vh;
    resize: vertical;
}

.modificationSocials div{
    margin: 0.35vh 0.25vh;
}

.modificationSubmit{
    width: 100%;
    margin: auto;
    display: flex;
}

.modificationSubmit button{
    transition: border 0.1s, 
        background-color 0.2s, 
        color 0.2s, 
        bottom 0.2s;
    margin: 1vh; margin-left: auto; margin-right: 1.5em;
    background-color: var(--sr2);
    color: white;
    padding: 0.5vh 1.25vh;
    border-radius: 20px;
    border: none;

    position: relative;
    bottom: 0;
}

.modificationSubmit button:hover,button:target{
    transition: border 0.3s, 
        background-color 0.3s, 
        color 0.3s, 
        bottom 0.3s;
    background-color: var(--sr1);
    color: black;
    border-bottom: var(--sr2) solid 2px;
    bottom: 2px;
}

.modificationSubmit button:active{
    transition: border 0.1s, 
        background-color 0.1s, 
        color 0.1s, 
        bottom 0.1s;
    background-color: var(--sr1);
    color: black;
    border-bottom: 0;
    bottom: 0px;
}

.modificationStatus{
    color: red;
    height: 30px;
}

/* https://reactcommunity.org/react-modal/styles/transitions/ */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.CMDisplay-Container {
    display: flex;
}

.CMDisplay-Container div {
    margin: 10px;
}

.CMDisplay-Container button {
    background-color: var(--sr2);
}

.CMDisplay-Label-Container {
    padding: 10px;
    background-color: rgba(220, 233, 252, 0.807);
}

.CMDisplay-Default-Value-Container {
    padding: 10px;
    background-color: rgba(220, 233, 252, 1);
}

.CM-Container {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border: black 2px;
    background-color: rgba(200, 233, 252, 1);
}