.nav {
  width: 100%;
  padding: 20px;
}

.nav-left * {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  font-size: 2vh;
}

.nav-left {
  position: absolute;
  left: 0;
  width: fit-content;
  margin-left: 10px;
}

.brand-logo {
  height: 2.5vh;
}

.nav-center {
  text-align: center;
  margin-left: 95%;
  width: fit-content;
  height: fit-content;
}

.nav-right {
  position: absolute;
  right: 0;
  margin: auto 50px 0 0;
}

#basic-nav-dropdown {
  color: black;
}

.is-active {
  text-decoration: underline solid black 2px;
}

.nav-button {
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.5vw;
}

.nav-button * {
  padding: 0.6vw 1.5vw;
  border-radius: 50px;
}

.button1 {
  color: #151925;
  display: inline;
  background: none;
  border: solid rgba(21, 25, 37, 0.5) 2px;
}

.button2 {
  display: inline;
  background-color: #151925;
  border: none;
  color: #FCFBFA;
}