.nav {
  width: 100%;
  padding: 20px 10px;
}

.nav-left * {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  font-size: 1.2vw;
}

.nav-left {
  position: absolute;
  left: 0;
}

.brand-logo {
  margin-top: -5px;
  width: 4vw;
  height: 4vw;
}

.nav-center {
  text-align: center;
  margin-left: 95%;
  width: fit-content;
}

.nav-right {
  position: absolute;
  right: 0;
}

#basic-nav-dropdown {
  color: black;
}

.is-active {
  text-decoration: underline solid black 2px;
}

.user-def {
  width: 2vw;
  height: 2vw;
}