.searchBar {
    color: white;
    text-align: center;
    margin-top: 17%;
}

#mainTitle {
    font-size: 75px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: -10px;
}

.inputContainer {
    background-color: #D9D9D9;
    width: 30%;
    height: 45px;
    border-radius: 20px;
    margin: auto;
}

.mainMenuInput{
    width: calc(100% - 50px);
    background: none;
    border: none;
    height: 100%;
}

.mainMenuInput:focus{
    outline: none;
}

.icon {
    color: #24498E;
}

