.splash-div {
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}

.splash-text {
    text-align: right;
    font-size: 6vw;
    line-height: 5.5vw;
    font-weight: 500;
    color: #151925;
}

.splash-middle * {
    display: inline-block;
}

.splash-middle {
    text-align: left;
}

.splash-line {
    height: 2px;
    width: 18vw;
    background-color: var(--sr2);
    margin-bottom: 2vw;
    margin-right: 1.2vw;
    margin-left: 1vw;
}

.splash-bottom {
    font-size: 1.75vw;
}

.mainMenuInput{
    width: calc(100% - 50px);
    background: none;
    height: 100%;
    border: none;
    margin-left: 20px;
    margin-right: -5px;
    font-size: 1vw;
}

.mainMenuInput::placeholder {
    font-size: 1vw;
}

.mainMenuInput:focus {
    outline: none;
}

.inputContainer {
    width: 100%;
    height: fit-content;
    padding: 0.4vw;
    border-radius: 20px;
    border: var(--sr2) solid 2px;
}