.catInputContainer {
    background-color: #D9D9D9;
    width: 20%;
    height: 50px;
    border-radius: 20px;
    margin: auto;
}

.catMainMenuInput{
    width: calc(100% - 50px);
    background: none;
    border: none;
    height: 100%;
}

.catMainMenuInput:focus {
    outline: none;
}

input[type="number"]{
    width: 66px;
}

#reverseSort{
    width: 30px;
}