.catInputContainer {
    background-color: #D9D9D9;
    width: 75%;
    height: 50px;
    border-radius: 20px;
    margin: 25px auto 25px auto;
    padding: 0;
}

.catMainMenuInput{
    width: calc(100% - 48px);
    background: none;
    border: none;
    height: 100%;
    margin-left: 10px;
}

.catSearchButton{
    background: none;
    height: 50px;
    border: none;
    margin: auto;
}

#filterContainer{
    margin: 0.75em 0.5em;
}

#filterContainer * {
    margin: 3px 0;
}

.catSearchBar {
    display: inline;
}

.catMainMenuInput:focus {
    outline: none;
}

#priceMin{ position: relative; }

#priceMax{ position: static; }

input{
    width: 100%;
}

select{
    width: 100%;
}

#sortBy{ width: calc(100% - 30px); }
#reverseSort{ width: 24px; margin-left: 5px;}

#tagListId{
    width: 100%;
}
