.front-div {
    padding: 100px;
    background: #FCFBFA;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    height: 100%;
}

.pencil {
    float: right;
    margin-top: -40px;
    margin-right: -30px;
    font-size: 1.15vw;
    color: #1E3050;
}

.top-div {
    margin-bottom: 1.75vh;
    text-align: center;
    width: 100%;
}

.pfp-div {
    display: inline-block;
    margin-right: 50px;
}

.info-div {
    display: inline-block;
    text-align: left;
}

.pfp {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}

.user-infos {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.6vw;
}

.profile-sep {
    height: 2px;
    width: 30vw;
    background-color: rgba(211, 211, 211, 0.7);
    margin: auto;    
}

.bottom-div {
    margin-top: 50px;
}

.user-ads * {
    margin-right: 15px;
}