.verify-div {
    text-align: center;
}

.vef-top {
    font-size: 2.5vw;
    line-height: 2vw;
    font-weight: bold;
}

.vef-bottom {
    font-size: 1vw;
}

.email-pic {
    width: 25%;;
    margin-top: -10%;
}

.vefcode {
    background: none;
    border: solid black 2px;
    padding: 0.75vw 15px 15px 15px;
    font-size: 0.9vw;
    width: 20%;
}

.vef-button {
    margin-top: 1vw;
    width: 25%;
    height: 2.5vw;
    font-size: 1vw;
    background-color: #232751;
    color: #FCFBFA;
    border-radius: 10px;
}