.catInputContainer {
    width: 280px;
    height: 50px;
    border-radius: 20px;
    margin: 25px auto 25px auto;
    padding: 0;
}

.catMainMenuInput{
    width: calc(100% - 48px);
    background: none;
    border: none;
    height: 100%;
    margin-left: 13px;
}

.catSearchBar {
    display: inline;
}

.catMainMenuInput:focus {
    outline: none;
}
