.mainMenuInput{
    background: none;
    height: 35px;
    border: none;
    margin-left: 20px;
    font-size: 20px;
    color: var(--defaultText);
}

.mainMenuInput:focus {
    outline: none;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding: 7px;
    border-radius: 20px;
    border: var(--defaultText) solid 2px;
    align-items: center;

}