.ad-view {
    &-flex-desc-infos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-description {
        font-size: 22px;
        max-width: 1000px;
    }

    &-position {
        display: flex;
        justify-content: center;
        justify-items: auto;
        align-items: center;
    }

    &-images-column {
        display: flex;
        width: 30%;
        flex-direction: column;
    }

    &-images-column-element {
        width: 100%;
        height: 220px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    &-big-image {
        width: 70%;
        margin-right: 10px;
    }

    &-images-zoom-in {
        font-size: 50px;
        color: rgb(255, 255, 255);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position : center; 
        background-size : 100%;
    }

    &-first-images {
        cursor: pointer;
    }

    // @media(max-width: 900px) {
    //     &-images-column-element {
    //         display: none;
    //     }

    //     &-big-image {
    //         width: 100%;
    //         padding-right: 20px;
    //     }
    // }
}