body {
	margin: 0;
	font-family: "Inter";
}

:root {
	--sr1: #4C566A;
	--defaultText: #2E3440;
	--sr3: #E6E6E6;
	--imageUrl: url("../public/img/main-background.jpg");
	--inputborder: #a0a0a0;
}

/* ::-webkit-scrollbar {
	display: none;
} */

[is-dark-mode="true"] {
}


[is-dark-mode="false"] {
}

body {
	/* color: var(--defaultText);
	background-image: var(--imageUrl);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-color: #e3d9cd; */
}

.main-background {
	background-color: rgba(252, 251, 250, 0.39);
	width: 60%;
	backdrop-filter: blur(2px);
	margin: 50px auto auto auto;
	border-radius: 27px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: #FCFBFA solid 2px;
	height: 75vh;
	padding: 30px;
}


.imgFit {
	object-fit: cover;
	/* le morceau important */
	object-position: 50% 50%;
	/* pour mieux aligner l'image */
}